DOMAIN=localhost
WFC_QUOTA=10
WFC_QUOTA_ENTERPRISE=100
TEAM_EMAIL=atozenith@landsurveyorsunited.com
GITHUB_CLIENT_ID="lndsrvyr"
GITHUB_CLIENT_SECRET="example"
# Need to add the Mapbox token else the map is not loading
# The key which has been used as a public didnot work in local host may be restricted to specific domain
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoibGFuZHN1cnZleW9ycyIsImEiOiJjbDU4cWpvYTgyNjNqM2NuenJmcGFycTZ0In0.69FMq1KPuwZs0Btd7-sSnw
